body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

#main-loading-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  color: #fff;
  transition: opacity 400ms cubic-bezier(0.11, 0.45, 0.91, 0.77);
}

#main-loading-screen .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

#main-loading-screen .content img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

#myCanvas {
  margin: auto;
  background-color: #fff;
}
.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: 0 0 5px #000;
}
.game-container #controls {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #777;
  align-items: center;
  width: 100%;
}

#controls #menu-controls,
#controls #pause-menu-controls,
#controls #game-controls,
#controls #end-controls {
  display: none;
  justify-content: space-evenly;
  flex-grow: 2;
}

#controls #menu-controls {
  display: flex;
}

#controls .fps-box {
  display: flex;
  flex-direction: column;
  gap: 1;
}

button {
  user-select: none;
}
